<section class="about-section">
    <a href="https://example.com/image.jpg" target="_blank" class="image-link">
        <img class="about-img" src="/img/desmond-image.jpg" height="10vh" width="10vw" alt="About me" class="about-image">
    </a>
    <p>Welcome to my about page. Here you can learn more about my mission.</p>
    <p>I am passionate about providing the best service and making a positive impact in our community.</p>
    <p>A student skilled in backend (Node.js, Express, Databases) and frontend (React, HTML, CSS), merging technology and design for seamless user experiences.</p>
</section>

